# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Environment variables
.env

# Database
*.db
*.sqlite3

# IDE specific files
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db

# Logs
*.log

# User-specific files
*.rst
*.txt
!requirements.txt